## Классификация объвлений по категориям

In [1]:
from lxml import etree
import numpy as np
import pandas as pd
import re
import matplotlib.pyplot as plt
import collections
%matplotlib inline

Загружаем данные

In [2]:
data_train = pd.read_csv("./train.csv")
data_train.head(5)

,item_id,title,description,price,category_id
0,0,Картина,Гобелен. Размеры 139х84см.,1000.0,19
1,1,Стулья из прессованной кожи,Продам недорого 4 стула из светлой прессованно...,1250.0,22
2,2,Домашняя мини баня,"Мини баня МБ-1(мини сауна), предназначена для ...",13000.0,37
3,3,"Эксклюзивная коллекция книг ""Трансаэро"" + подарок","Продам эксклюзивную коллекцию книг, выпущенную...",4000.0,43
4,4,Ноутбук aser,Продаётся ноутбук ACER e5-511C2TA. Куплен в ко...,19000.0,1

In [4]:
data_target = data_train["category_id"].values
corpus = data_train["title"].values
feature = data_train["price"].values

Разделяем даннын на тестовые и тренировочные(Feature отвечает за цены, X за текстовое представление, y за категории)

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, Feature_train, Feature_test, y_train, y_test = train_test_split(corpus, feature, data_target, test_size=0.33, random_state=42)

Пробуем наивный CountVectorizer

In [6]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
pipeline = Pipeline([
    ("vectorizer", CountVectorizer()),
    ("algo", LogisticRegression(penalty='l1', C=17))
])

In [7]:
pipeline.fit(X_train, y_train)

Pipeline(memory=None,
     steps=[('vectorizer', CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
       ...ty='l1', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False))])

In [8]:
from sklearn.metrics import accuracy_score, f1_score
from sklearn.metrics.scorer import make_scorer
f_scorer = make_scorer(f1_score, average='macro')
print("Train_acc: {:.4f}, train_f-measure: {:.4f}".format(
    accuracy_score(pipeline.predict(X_train), y_train),
    f_scorer(pipeline, X_train, y_train)
))

Train_acc: 0.9459, train_f-measure: 0.9459

In [9]:
print("Test_acc: {:.4f}, test_f-measure: {:.4f}".format(
    accuracy_score(pipeline.predict(X_test), y_test),
    f_scorer(pipeline, X_test, y_test)
))

Test_acc: 0.8345, test_f-measure: 0.8369

Добавим знание о цене товара
Используюя RF классифицируем по цене

In [10]:
from sklearn.ensemble import RandomForestClassifier
algo_tree = RandomForestClassifier(n_estimators = 50, n_jobs=-1)
algo_tree.fit(Feature_train.reshape(-1,1), y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=50, n_jobs=-1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [11]:
print(accuracy_score(algo_tree.predict(Feature_test.reshape(-1,1)), y_test))

0.08423248587046013

Не сильно большой Accuracy..
Попробуем добавить его к предыдущему результату

In [34]:
price_pred = algo_tree.predict_proba(Feature_test.reshape(-1,1))
title_pred = pipeline.predict_proba(X_test)
pred_prob = price_pred + 3*title_pred
pred = [np.argmax(pred_prob[i]) for i in range(0, pred_prob.shape[0])]
print("Test_acc: {:.4f}".format(
    accuracy_score(pred, y_test),
))

Test_acc: 0.8350

### Посчитаем accuracy модели на каждом уровне иерархии.
Сначала по первому уровню

In [63]:
category_file = pd.read_csv("./category.csv")
dicte = [(category_file["name"][i].split("|")[0]) for i in range(0,len(category_file))]
print(np.unique(dicte))

['Бытовая электроника' 'Для дома и дачи' 'Личные вещи' 'Хобби и отдых']

In [58]:
pred_cat =  [dicte[pred[i]] for i in range(len(pred))]
y_test_cat = [dicte[y_test[i]] for i in range(len(y_test))]
print("Test_acc: {:.4f}".format(
    accuracy_score(pred_cat, y_test_cat),
))

Test_acc: 0.9317

Затем по второму уровню

In [66]:
dicte1 = [(category_file["name"][i].split("|")[1]) for i in range(0,len(category_file))]
print(np.unique(dicte1))

['Аудио и видео' 'Билеты и путешествия' 'Бытовая техника' 'Велосипеды'
 'Игры, приставки и программы' 'Книги и журналы' 'Коллекционирование'
 'Красота и здоровье' 'Мебель и интерьер' 'Музыкальные инструменты'
 'Настольные компьютеры' 'Ноутбуки' 'Одежда, обувь, аксессуары'
 'Охота и рыбалка' 'Планшеты и электронные книги'
 'Посуда и товары для кухни' 'Растения' 'Ремонт и строительство'
 'Спорт и отдых' 'Телефоны' 'Товары для детей и игрушки'
 'Товары для компьютера' 'Часы и украшения']

In [67]:
pred_cat =  [dicte1[pred[i]] for i in range(len(pred))]
y_test_cat = [dicte1[y_test[i]] for i in range(len(y_test))]
print("Test_acc: {:.4f}".format(
    accuracy_score(pred_cat, y_test_cat),
))

Test_acc: 0.8987

## Применяем к тестовым данным

In [68]:
data_train = pd.read_csv("./test.csv")
data_train.head(5)

,item_id,title,description,price
0,489517,Стоик журнальный сталь,продам журнальный столик изготавливаю столы из...,10000.0
1,489518,iPhone 5 64Gb,"Телефон в хорошем состоянии. Комплект, гаранти...",12500.0
2,489519,Утеплитель,ТЕПЛОПЕЛЕН-ЛИДЕР ТЕПЛА!!! Толщина утеплителя :...,250.0
3,489520,Пальто демисезонное,Продам пальто женское (букле) в отличном состо...,1700.0
4,489521,Samsung syncmaster T200N,"Условно рабочий, проблема в панели настройки м...",1000.0

In [74]:
corpus = data_train["title"].values
feature = data_train["price"].values
item_id = data_train["item_id"].values

In [98]:
price_pred = algo_tree.predict_proba(feature.reshape(-1,1))
title_pred = pipeline.predict_proba(corpus)
pred_prob = price_pred + 3*title_pred
result = [np.argmax(pred_prob[i]) for i in range(0, pred_prob.shape[0])]
d3 = {'item_id': item_id, 'category_id': result}

In [99]:
df_result = pd.DataFrame.from_dict(d3)

In [100]:
df_result

        item_id  category_id
0        489517           22
1        489518            0
2        489519           15
3        489520           33
4        489521           13
5        489522           25
6        489523           50
7        489524           16
8        489525            6
9        489526           28
10       489527           26
11       489528           26
12       489529           44
13       489530           46
14       489531           11
15       489532           26
16       489533           39
17       489534           47
18       489535           34
19       489536           46
20       489537           51
21       489538           15
22       489539           26
23       489540           29
24       489541            8
25       489542           34
26       489543           43
27       489544           10
28       489545           50
29       489546           29
...         ...          ...
243136   732653           48
243137   732654           46
243138   732655            2
243139   732656           10
243140   732657           33
243141   732658           53
243142   732659           47
243143   732660           17
243144   732661           34
243145   732662            8
243146   732663           29
243147   732664           27
243148   732665           15
243149   732666            1
243150   732667           12
243151   732668           44
243152   732669           40
243153   732670           14
243154   732671           53
243155   732672           36
243156   732673           43
243157   732674           13
243158   732675            4
243159   732676           20
243160   732677           31
243161   732678           23
243162   732679           38
243163   732680            7
243164   732681           18
243165   732682           29

[243166 rows x 2 columns]

In [101]:
df_result.to_csv("result.csv", sep='\t')